.body{
	background-image: linear-gradient(rgba(4, 9, 30, 0.62),rgba(4, 9, 30, 0.9)),
url(https://img.sdcexec.com/files/base/acbm/sdce/image/2020/08/Stock_robotics.5f28d31105cb2.png?auto=format%2Ccompress);

color: white;
align-content: center;
text-align: center;
}

form{
	padding-top: 50px;
	position: relative;
	height: 100%;
	width: 100%;
}